*.pdb
*.cif
*.mmcif
*.a3m
*.fasta
*.fa
*.cxs
*.tar.gz
*.zip

*_data.json
*_confidences.json
*_summary_confidences.json
*_ranking_scores.csv

private_data/
af_input/
af_output/
msa_input/
msa_output/

.env
*.pem
*.key
.venv/
__pycache__/
